/* input, button {
    margin: 6em;
} */

input {
    background-color: rgb(195, 226, 238);
    margin: 6em;
}

h2 {
    padding-top: 2rem;
}

button {
    padding: 0.5em 0.75em;
    background-color: rgb(195, 226, 238);
    border: 2px solid;
    color: rgb(255, 0, 21);
    border-radius: 0.5em;
    font-size: 1em;
    transition: 300ms;
  }
  
  button:hover {
    background-color: rgb(255, 0, 21);
    color:rgb(195, 226, 238);
  }
